@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  @apply w-screen h-full text-dark bg-white;
}
.link {
  @apply font-roboto text-dark capitalize font-normal hover:border-b-4 hover:border-b-light transition pb-1;
}

.link-active {
  @apply font-roboto text-dark capitalize font-normal border-b-4 border-b-primary transition pb-1;
}

.custom-clip-path {
  width: 100%;
  height: 40vh;
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);

}
.h1 {
  @apply text-h1 font-bold font-roboto;
}
.h2 {
  @apply text-h2 font-poppins font-normal;
}
.h3 {
  @apply text-h3 font-poppins font-bold;
}

.p-body {
  @apply text-light font-light text-[14px] font-roboto;
}

.btn {
  @apply bg-primary  rounded text-white capitalize font-normal hover:bg-hover cursor-pointer;
}

.btn-1 {
  @apply px-4 py-2 cursor-pointer;
}

.btn-2 {
  @apply py-[1rem] px-[4rem] cursor-pointer ;
}
.btn-3 {
  @apply px-6 py-2 bg-dark w-max hover:bg-blue-500 transition cursor-pointer;
}


.bouneIcon-one {
  animation: bonusOne 2.5s ease-in-out 1s infinite !important;
}

.bouneIcon-two {
  animation: bonusOne 2s ease-in-out 1s infinite !important;
}

.rotateIcon-one {
    transform-origin: 50% 50%;
      transform-box: fill-box !important;
  animation: rotateOne 2s linear infinite;
  /* animation: rotateOne 2s ease-in-out 1s infinite !important; */
}



@keyframes bonusOne {
  0% {
    transform: translateY(0%);
  }
  50%{
    transform: translateY(10%);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes rotateOne {
  0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}